p {
  border-radius: 5px;
  border: 1px solid blue;
  margin: 0%;
}
p:hover{
  background-color: gray;
  cursor: pointer;
}

#function_keys {
  display: flex;
}

#function_keys > p {
  height: 30px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square_shaped_keys {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.multifunctional_keys {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid blue;
  height: 40px;
  width: 40px;
}

.multifunctional_keys > p{
  border: none;
  border-radius: 0%;
  margin: 0%;
}

#number_keys {
  display: flex;
  text-align: center;
}

#alphabet_rows > div, #alphabet_rows > div > div {
  display: flex;
}

#left_modifier_keys {
}


.shift_keys {
  height: 40px;
  width: 80px;
}

.capsLock_keys {
  height: 40px;
  width: 55px;
}

#tab_key {
  height: 40px;
  width: 55px;
}

#spacebar {
  height: 40px;
  width: 200px;
}

.enter_key {
}

#backspace {
  width: 100px;
  height:40px;
}

.arrow_keys {
}

#alphabets {
  border: 1px solid red;
  height: 50vh;
  width: 70vw;
}

#keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
}

#display{
  width:200px;
  height: 100px;
  /* border:1px solid green; */
  margin:auto
}

input{
  width:200px;
  height:90px;
}
